#hmpic {
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

div{
    position:absolute;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.412);
    width:70%;
    height: 100%;
    top: 20%;
    left: 14%;
}


#bln{
    padding: 5px 8px 5px 8px;
    background-color: rgb(50, 50, 222);
    color: white;
}