#hmpic {
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#payform-div{
    position:absolute;
    text-align: center;
    background-color: rgba(0, 255, 255, 0.412);
    width:50%;
    height: 100%;
    top: 20%;
    left: 25%;
}

#cxdetails{
    width:50%;
    margin-left: auto;
    margin-right: auto;
    line-height: 5px;
}

.cxinput{
    width: 80%;
    margin-top: 5px;
}

#blnc{
    padding: 5px 8px 5px 8px;
    background-color: rgb(50, 50, 222);
    color: white;
}