#classArticle {
    color: white;
    position: relative;
    margin: 0 auto;
    padding-top: 10px;
    margin-left: -20%;
}

#className {
    font-family: 'Lora', serif;
}

#classDiv3 {
    padding-left: 40px;
}

#classDiv1 {
    border: 1px solid rgb(58, 57, 57);
    margin-top: 10px;
    display: flex;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
    height: 170px;
    border-radius: 50px;
    background-color:rgb(236, 236, 236,0.1);
}

#bookButton {
    background-color: grey;
    color: white;
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Lora', serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#bookButton:hover{
    transform: scale(1.1);
}

#classImg {
    width: 300px;
    height: 170px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}