main{
    position: relative;
}


main div {
    position: absolute;
    text-align: center;
    color: white;
    top: 30%;
    left: 15%;
    width: 350px;
    font-family: 'Lora', serif;
}

#checkItOutButton{
    background-color: grey;
    color: white;
    border: none;
    width:100px;
    height:30px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Lora', serif;
    cursor:pointer;
    transition: 0.3s ease-out ;
}

#checkItOutButton:hover{
    background-color: rgb(61, 61, 61);
}