#hmpic {
    width: 100%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#log-div{
    position:absolute;
    text-align: center;
    background-color: rgb(155, 155, 155);
    width:300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px;
    top:25%;
    border-radius: 20px;
    height: 150px;
}

h2 {
    margin-top: 20px;
}

input{
    margin-top: 0px;
    margin-bottom: 2px;
    width: 200px;
}

#bln{
    padding: 5px 8px 5px 8px;
    background-color: rgb(65, 65, 65);
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    border-style: none;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#bln:hover{
    transform: scale(1.05);
}

#bsu{
    padding: 5px 8px 5px 8px;
    background-color: rgb(65, 65, 65);
    color:white;
    border-radius: 30px;
    border-style: none;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#bsu:hover{
    transform: scale(1.05);
}