#hmpic {
    width: 100%;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

#messageDiv{
    position:absolute;
    text-align: center;
    background-color: rgb(101, 101, 101);
    color: white;
    width:500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px;
    top:15%;
    border-radius: 20px;
    height: 150px;
}

#goBack{
    background-color: rgb(202, 202, 202);
    color: rgb(94, 92, 92);
    border: none;
    width:100px;
    height:30px;
    border-radius: 15px;
    font-weight: bold;
    font-family: 'Lora', serif;
    cursor:pointer;
    transition: 0.3s ease-out ;
}

#goBack:hover{
    background-color: rgb(54, 54, 54);
    color: rgb(199, 199, 199);
}