#hmpic {
    width: 100%;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

div{
    position:absolute;
    text-align: center;
    background-color: rgb(191, 191, 191);
    width:500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 20px;
    top:15%;
    border-radius: 20px;
    height: 150px;
}

h2 {
    margin-top: 10px;
}

#yes{
    padding: 5px 8px 5px 8px;
    background-color: rgb(45, 45, 45);
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    border-style: none;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
}

#no{
    padding: 5px 8px 5px 8px;
    background-color: rgb(74, 74, 74);
    color: white;
    margin-top: 10px;
    border-radius: 30px;
    border-style: none;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
}