#scheduleH1 {
    text-align: center;
    font-weight: bold;
}

#hmpic {
    width: 100%;
    filter: blur(15px);
    -webkit-filter: blur(15px);
}

#scheduleP {
    text-align: center;
    font-weight: bold;
}

#scheduleSection {
    width: 500px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100px;
    background-color: rgba(33, 33, 33, 0.744);
    height: 100px;
    border-radius: 100px;
    color: white;
}