<link rel="stylesheet" href="/css/bookbutlogout.css" />
<div id="messageDiv">
    <h2>Message</h2>
    <p>You need to login before booking classes.</p>
    <a href="/schedule" id="goToClassButton">
        < Return</a>
</div>