<link rel="stylesheet" href="/css/cart.css" />
<section>
    <div id="payform-div">
        {{#if hasItem}}
        <div id="cxdetails">
            <h3>Customer Details</h3>
            <input type="text" placeholder="Enter Your Name" class="cxinput">
            <br>
            <input type="text" value="{{buyer}}" class="cxinput">
        </div>
        {{> cartItem}}
        <form action="/user/payment" method="post" id="payform">
            <button id="blnc">PAY</button>
        </form>
        {{else}}
        <p>No Item in Shopping Cart</p>
        {{/if}}
    </div>

</section>