<link rel="stylesheet" href="/css/erroraccexist.css" />
<div id="messageDiv">
    <h2>Message</h2>
    <p>The email already exists.</p>
    <a href="/user" id="goToLoginButton">
        < Return</a>
</div>