<link rel="stylesheet" href="/css/errornopassword.css" />
<div id="messageDiv">
    <h2>Message</h2>
    <p>Please enter you password.</p>
    <a href="/user" id="goToLoginButton">
        < Return</a>
</div>