<link rel="stylesheet" href="/css/home.css" />
<section>
    <div>
        <h1>Let Get Moving!!!!</h1>
        <p>Welcome to get 24/7Fitness Studio, where fitness becomes your liftstyle</p>
        <form action="/schedule" method="get">
            <button>Check it out</button>
        </form>
    </div>
</section>

