<link rel="stylesheet" href="/css/login.css" />
<section>
    <div id="log-div">
        <form action="/user/login" method="post" id="login">
            <h2>LOGIN OR SIGNUP</h2>
            <input type="email" name="email" id="email" placeholder="Enter Email">
            <br>
            <input type="password" name="password" id="password" placeholder="Enter Password">
            <br>
            <button id="bln">Login</button>
            <button id="bsu" type="submit" formaction="/user/signup" formmethod="post">Create Account</button>
        </form>
    </div>

</section>

<script type="text/javascript" src="../js/login.js"></script>