<link rel="stylesheet" href="/css/message.css" />
<div id="messageDiv">
    <h2>{{msg}}</h2>
    <p>{{err}}</p>
    {{!-- <a href="/" id="goToLoginButton">
        < Return</a> --}}
    <button id="goBack" onclick="history.back()">
        < Return</button>
</div>