<link rel="stylesheet" href="/css/mpass.css" />
<section>
    <div>
        <form action="/user/monps" method="post">
            <h3>Sign up a Monthly Plan?</h3>
            <p>* Only $75 for every course</p>
            <button id="yes" type="submit">Yes</button>
            <button id="no" type="submit" formaction="/schedule" formmethod="get">No</button>
        </form>
    </div>
</section>