<link rel="stylesheet" href="/css/mpass.css" />
<section>
    <div>
        <h3>Sign up a Monthly Plan?</h3>
        <p>* Only $75 for every course</p>
        <form action="/user/monps" method="post">
            <button id="yes" type="submit">Yes</button>
        </form>
        <form action="/user/nomonpsignin" method="post">
            <button id="no" type="submit">No</button>
        </form>
    </div>
</section>