<link rel="stylesheet" href="/css/schedule.css" />
<section id="scheduleSection">
<h1 id="scheduleH1">Our Classes</h1>
<p id="scheduleP">Let us help you find a class that meets your fitness goals.</p>
</br>
</section>